html,body {
	width: 100%;
	height: 100%;
}

.book_container {
	width: 600px;
	height: 850px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
	margin-top: 0px;
	margin-left: 0px;
  background-color: #a40000;
}

.spine_container{
  width: 150px;
	height: 850px;
  position: absolute;
  left: 0px;
  background-color: #3944bc;
}

.spine_squares{
	left: 70%;
  top: 50.3%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.cover_container{
  width: 450px;
	height: 850px;
  margin-left: 150px;
  position: absolute;
  right: 0px;
}

.title{
  font-family: litania, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  text-align: center;
  color: #F7EF8A;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 225px;
  margin-bottom: 140px;
}

.book_container:hover .title{
	animation: title_color 1s infinite linear;
}

@keyframes title_color {
	0% { color: #F7EF8A; }
  45% { color: #3944bc; }
	70% { color: white; }
	100% { color: #F7EF8A; }
}

.author {
  font-family: alegreya-sc,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: #F7EF8A;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book_container:hover .b_swords{
	opacity:0;
}

.swords{
	left: 62%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.b_swords{
	left: 62%;
  top: 56%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.ls1{
	left: 38%;
  top: 56%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.rs1{
	left: 38%;
  top: 56%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.ls2{
	left: 85%;
  top: 56%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.rs2{
	left: 86%;
  top: 56%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.book_container:hover .rs2{
	animation: rs2_move 2s infinite;
}

@keyframes rs2_move {
	0% { top: 51%; left: 80%; transform: scale(1); }
	25% { top: 50%; left: 56%; transform: rotate(-75deg) scale(1.4); }
	50% { top: 51%; left: 65%; transform: rotate(-120deg) scale(1.8); }
	75% { top: 50%; left: 45%;transform: rotate(90deg) scale(1.4); }
	100% { top: 51%; left: 80%; transform: scale(1); }
}


.book_container:hover .ls1{
	animation: ls1_move 2s infinite;
}

@keyframes ls1_move {
	0% { top: 51%; left: 31%; transform: scale(1);}
	25% { top: 50%; left: 58%; transform: rotate(-75deg) scale(1.4); }
	50% { top: 53%; left: 60%; transform: rotate(25deg) scale(1.8); }
	75% { top: 47%; left: 46%;transform: rotate(75deg) scale(1.4); }
	100% { top: 51%; left: 31%; transform: scale(1); }
}
